<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.evanlovely.actions</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>167A4C45-8CD8-4E4C-8138-2B841D77ED25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>608E2EB0-3A07-4E2C-90E0-52B37DEF31F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>199D9AE8-8933-41A2-AC4F-CE25295BA618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E2F342-5547-47B9-BBDE-B52ADAE05E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1063AEE-C6E6-459A-A688-DA51732C30FC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit in Sublime Text First</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D4235AD-5341-48E8-8361-8E01A54B9EB0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit in Sublime Text First</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1367D0A-4E72-485C-A2BD-7350546B01F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C011BE8-F36E-4EA7-A402-4E050786C2C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>646A51E7-768E-4802-927A-E06F02D08E8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D4235AD-5341-48E8-8361-8E01A54B9EB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1367D0A-4E72-485C-A2BD-7350546B01F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>646A51E7-768E-4802-927A-E06F02D08E8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>167A4C45-8CD8-4E4C-8138-2B841D77ED25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5F6478E-117B-432F-8D5B-6D1C3F8D815B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste it as well</string>
			</dict>
		</array>
		<key>B5F6478E-117B-432F-8D5B-6D1C3F8D815B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>608E2EB0-3A07-4E2C-90E0-52B37DEF31F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C156C95D-9E68-4903-8062-7EC80B073BB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E2F342-5547-47B9-BBDE-B52ADAE05E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1367D0A-4E72-485C-A2BD-7350546B01F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E945E8EE-B7C3-4967-AB40-52FFBED3071E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>646A51E7-768E-4802-927A-E06F02D08E8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EA7715C4-EE40-413D-A235-0E089B2325EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E2F342-5547-47B9-BBDE-B52ADAE05E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1367D0A-4E72-485C-A2BD-7350546B01F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evan Lovely</string>
	<key>description</key>
	<string>Drafts for Mac</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>80E2F342-5547-47B9-BBDE-B52ADAE05E9F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EA7715C4-EE40-413D-A235-0E089B2325EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>action</string>
				<key>subtext</key>
				<string>Type to copy and open Action List</string>
				<key>text</key>
				<string>Action Text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>199D9AE8-8933-41A2-AC4F-CE25295BA618</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C1063AEE-C6E6-459A-A688-DA51732C30FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>Sends text through Actions</string>
				<key>text</key>
				<string>Copy and Action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C156C95D-9E68-4903-8062-7EC80B073BB4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | /usr/bin/subl - | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D4235AD-5341-48E8-8361-8E01A54B9EB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to run trigger "clipactions" in workflow "com.evanlovely.actions"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C1367D0A-4E72-485C-A2BD-7350546B01F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>file="{query}"

if [[ "$file" == *".sh" ]]; then
    sh "$file"
  elif [[ "$file" == *".applescript" ]]; then
    osascript "$file"
  elif [[ "$file" == *".rb" ]]; then
    ruby "$file"
  elif [[ "$file" == *".py" ]]; then
    python "$file"
  elif [[ "$file" == *".php" ]]; then
	php "$file"
  else
    "./$file"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>167A4C45-8CD8-4E4C-8138-2B841D77ED25</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>clipactions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5C011BE8-F36E-4EA7-A402-4E050786C2C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>clipactions</string>
				<key>runningsubtext</key>
				<string>one moment...</string>
				<key>script</key>
				<string>dir="$HOME/Dropbox/scripts/clipboard-actions"
sh clipactions.sh '{query}' "$dir"</string>
				<key>subtext</key>
				<string>Fire actions based on clipboard contents</string>
				<key>title</key>
				<string>Clipboard Actions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>646A51E7-768E-4802-927A-E06F02D08E8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>608E2EB0-3A07-4E2C-90E0-52B37DEF31F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E945E8EE-B7C3-4967-AB40-52FFBED3071E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sh {query}
osascript -e 'tell application "System Events" to keystroke "v" using {command down}'
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5F6478E-117B-432F-8D5B-6D1C3F8D815B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>167A4C45-8CD8-4E4C-8138-2B841D77ED25</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>199D9AE8-8933-41A2-AC4F-CE25295BA618</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>5C011BE8-F36E-4EA7-A402-4E050786C2C7</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>5D4235AD-5341-48E8-8361-8E01A54B9EB0</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>608E2EB0-3A07-4E2C-90E0-52B37DEF31F7</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>646A51E7-768E-4802-927A-E06F02D08E8A</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>80E2F342-5547-47B9-BBDE-B52ADAE05E9F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B5F6478E-117B-432F-8D5B-6D1C3F8D815B</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>C1063AEE-C6E6-459A-A688-DA51732C30FC</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C1367D0A-4E72-485C-A2BD-7350546B01F2</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C156C95D-9E68-4903-8062-7EC80B073BB4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E945E8EE-B7C3-4967-AB40-52FFBED3071E</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>EA7715C4-EE40-413D-A235-0E089B2325EC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://evanlovely.com</string>
</dict>
</plist>
